

body{

	text-align: center;
}

header{

	height:100px;
	background: #02733e;
	margin-top: 0;
}

h1{

	margin:0;
	padding-top: 30px;
	color:white;
}
.wuf-adv{
	font-family:inherit;
	font-size: small;
	color:#a7a7a7;
	text-align:center;
	display:block;
}
